<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java2nb.novel.mapper.ViewsDao">

	<select id="get" resultType="com.java2nb.novel.core.utils.ViewsDO">
		select `id`,`ip`,`date` from tb_views where id = #{value}
	</select>

	<select id="list" resultType="com.java2nb.novel.core.utils.ViewsDO">
		select `id`,`ip`,`date` from tb_views
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
		  		  <if test="date != null and date != ''"> and date = #{date} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_views
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
		  		  <if test="date != null and date != ''"> and date like #{date}"%" </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.java2nb.novel.core.utils.ViewsDO">
		insert into tb_views
		(
			`id`, 
			`ip`, 
			`date`
		)
		values
		(
			#{id}, 
			#{ip}, 
			#{date}
		)
	</insert>

	<insert id="saveSelective" parameterType="com.java2nb.novel.core.utils.ViewsDO">
		insert into tb_views
		(
					<if test="id != null"> `id`,  </if>
					<if test="ip != null"> `ip`,  </if>
					<if test="date != null"> `date` </if>
				)
		values
		(
					<if test="id != null"> #{id},  </if>
					<if test="ip != null"> #{ip},  </if>
					<if test="date != null"> #{date} </if>
				)
	</insert>
	 
	<update id="update" parameterType="com.java2nb.novel.core.utils.ViewsDO">
		update tb_views 
		<set>
			<if test="ip != null">`ip` = #{ip}, </if>
			<if test="date != null">`date` = #{date}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_views where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_views where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>