<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${book.id}"
                               type="hidden">


                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">

                                <select  data-placeholder="--选择--" id="status"
                                        name="status"
                                        class="form-control chosen-select" tabindex="2"
                                        dict-type="${column.dictType}"
                                        th:attr="dict-value=${book.status}" >
                                    <option value="0">入库</option>
                                    <option value="1">上架</option>
                                            </select>
                                                                            </div>
                                </div>




                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否已停止更新：</label>
                            <div class="col-sm-8">

                                <select data-placeholder="--选择--" id="crawlIsStop"
                                                    name="crawlIsStop"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="${column.dictType}"
                                                    th:attr="dict-value=${book.crawlIsStop}" >
                                    <option value="0">未停止</option>
                                    <option value="1">已停止</option>
                                            </select>
                                                                            </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/system/book/edit.js">
</script>
</body>
</html>
